<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "See all Technologies", technologies_path %>
<p></p>
<%= link_to "See all Projects", projects_path %>
<p></p>
<%= link_to "See all experiences", experiences_path %>