<h1>New tech project</h1>

<%= simple_form_for [@project, @tech_project] do |f| %>
  <%= f.input :technology_id, collection: @technologies %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to the project", project_path(@project) %>